.carta {
    width: 70px;
}

.buttonDiv{
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttonDiv > button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 6px;
}